In [28]:
import json
import csv
import requests
import os
import pandas as pd
# from smart_open import smart_open
# import datetime
# import time
import random
import boto3
# import logging
import s3fs
import numpy as np

from io import StringIO

In [29]:
KEY_ID= "AKIAZVHNIFDDD3AMTWEE"
SECRET_ACCESS_KEY = "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"

In [30]:

s3_client = boto3.client('s3',aws_access_key_id=KEY_ID,aws_secret_access_key=SECRET_ACCESS_KEY)
bucket = "is459-grp8"
article_csv = "data-source/articles.csv"
customers_csv = "data-source/customers.csv"
transactions_csv = "data-source/transactions_train.csv"

response_article = s3_client.get_object(Bucket=bucket, Key=article_csv)
response_customers = s3_client.get_object(Bucket=bucket, Key=customers_csv)
response_transactions = s3_client.get_object(Bucket=bucket, Key=transactions_csv)

In [31]:
status = response_article.get("ResponseMetadata", {}).get("HTTPStatusCode")

# Article
if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df_art = pd.read_csv(response_article.get("Body"))
    print(df_art.sample(5))
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Successful S3 get_object response. Status - 200
       article_id  product_code                   prod_name  product_type_no  \
16162   568931002        568931                      Jingan              275
19696   585107002        585107                 Filo runner               94
66627   748723002        748723  Func. SOL softshell jacket              262
99410   884357001        884357           A-band Heidi LOGG               74
5815    500153006        500153            Dance shoe Sofia               89

      product_type_name  product_group_name  graphical_appearance_no  \
16162             Skirt  Garment Lower body                  1010016
19696          Sneakers               Shoes                  1010016
66627            Jacket  Garment Upper body                  1010010
99410   Hair/alice band         Accessories                  1010016
5815         Other shoe               Shoes                  1010016

      graphical_appearance_name  colour_group_code colour_group_name  ...  \
16162                     Solid                 12       Light Beige  ...
19696                     Solid                 10             White  ...
66627                   Melange                  8         Dark Grey  ...
99410                     Solid                 42               Red  ...
5815                      Solid                  3            Silver  ...

              department_name index_code                      index_name  \
16162                   Skirt          A                      Ladieswear
19696                   Shoes          F                        Menswear
66627      Young Girl Outdoor          I          Children Sizes 134-170
99410    Girls Small Acc/Bags          J  Children Accessories, Swimwear
5815   Kids Dress-up/Football          J  Children Accessories, Swimwear

      index_group_no  index_group_name section_no  \
16162              1        Ladieswear         11
19696              3          Menswear         27
66627              4     Baby/Children         45
99410              4     Baby/Children         43
5815               4     Baby/Children         43

                         section_name garment_group_no  garment_group_name  \
16162                Womens Tailoring             1012              Skirts
19696                       Men Shoes             1020               Shoes
66627                  Kids Outerwear             1007             Outdoor
99410  Kids Accessories, Swimwear & D             1019         Accessories
5815   Kids Accessories, Swimwear & D             1019         Accessories

                                             detail_desc
16162  Calf-length skirt woven in a cotton blend with...
19696  Mesh trainers with an intarsia motif, padded e...
66627  Softshell jacket in windproof, water-repellent...
99410  Narrow, fabric-covered Alice band with a bow o...
5815   Dance shoes with elastic straps over the foot....

[5 rows x 25 columns]

In [32]:
status = response_customers.get("ResponseMetadata", {}).get("HTTPStatusCode")

# customer
if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df_cus = pd.read_csv(response_customers.get("Body"))
    print(df_cus.sample(5))
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Successful S3 get_object response. Status - 200
                                              customer_id   FN  Active  \
686902  803c43b3b35fb1a07ddd7ad7a3f61ac2dbc8c93ec755ab...  NaN     NaN
655281  7a48c30d0c094e8d2418295d70fdb4751fc50209758de8...  NaN     NaN
305592  391b00654fcfe7997819fb11c61d1abee800259e24641f...  NaN     NaN
632603  760ec2848e14dcfdbe19ab1d758a0de274146efad975a1...  NaN     NaN
748109  8baa8bc053b901c3a9ab54223ecd81e511aaa636bf7ce9...  1.0     1.0

       club_member_status fashion_news_frequency   age  \
686902             ACTIVE                   NONE  86.0
655281             ACTIVE                   NONE  20.0
305592             ACTIVE                   NONE  28.0
632603             ACTIVE                   NONE  53.0
748109             ACTIVE              Regularly  59.0

                                              postal_code
686902  456ca6a0714305e3f82553b17db9ffb3fb7f77ae858a06...
655281  2c29ae653a9282cce4151bd87643c907644e09541abc28...
305592  14306a670a73b16ba0e71f1e30191f559af8788f1abac2...
632603  2c29ae653a9282cce4151bd87643c907644e09541abc28...
748109  2c29ae653a9282cce4151bd87643c907644e09541abc28...

In [33]:
status = response_transactions.get("ResponseMetadata", {}).get("HTTPStatusCode")

# transaction
if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df_tra = pd.read_csv(response_transactions.get("Body"))
    print(df_tra.sample(5))
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Successful S3 get_object response. Status - 200
               t_dat                                        customer_id  \
7707999   2019-03-23  153314982a52faf125e61ef2de264dcb0518c3e0ac3cac...
25623458  2020-05-11  abd40f37b4aeaa7c3e6a908a900b0b721f848f615fb598...
21447018  2020-01-19  ae70482ede812b85f8db12930115b008811f1d215ba4d8...
8970307   2019-04-19  3fed80f393e89e177e41a021b1a44a822962286d6c2368...
8397647   2019-04-06  947100f8a10cd10c15c6e31c18979dc1f65ed76a55fc30...

          article_id     price  sales_channel_id
7707999    724399002  0.011847                 1
25623458   759479001  0.011847                 2
21447018   799421001  0.015237                 2
8970307    611024002  0.016932                 1
8397647    568597006  0.042356                 1

In [34]:
customers_less_than_26 = df_cus[df_cus['age'].between(15, 25)]
customers_less_than_26 = customers_less_than_26.where(pd.notnull(df_cus), "NONE")
customers_less_than_26 = customers_less_than_26.drop(columns = ['postal_code'])
customers_less_than_26.rename(columns = {'customer_id':'USER_ID'},inplace = True)

customers_less_than_26.sample(5)

,USER_ID,FN,Active,club_member_status,fashion_news_frequency,age
836280,9c200adbfffe13290d35a50c7496263328c042d10f6108...,NONE,NONE,ACTIVE,NONE,21
854237,9f72cf87595ff5ab5ba9e8888b118046ab5eb263f45cd7...,NONE,NONE,ACTIVE,NONE,24
554616,67829a69c1a79a7c6be1fbe3865201ec6ed981c992943e...,NONE,NONE,ACTIVE,NONE,22
1209120,e19b5c4fc3a4e358ddfbdfc8e0196fbcb23c5b5e816672...,NONE,NONE,ACTIVE,NONE,21
80346,0f00c8e8a5ca11f536c899cc740cdb634cbbb2dec0d71d...,1,1,ACTIVE,Regularly,21

In [35]:

csv_buffer = StringIO()
customers_less_than_26.to_csv(csv_buffer,index=false)

s3_client = boto3.client('s3',aws_access_key_id=KEY_ID,aws_secret_access_key=SECRET_ACCESS_KEY)

#customers_less_than_26.to_csv('s3://is459-grp8/data-source/customers_F.csv')

response1 = s3_client.put_object(Body=csv_buffer.getvalue(), Bucket="is459-grp8", Key="data-output/customers_F.csv")

print(response1)
print("")
print("============done importing customers_F.csv to s3=============")

{'ResponseMetadata': {'RequestId': '4JBHMX1SS9JABEAD', 'HostId': 'ZZv3rXacnl1prq2y/PHdLyoJjqdyCq7oIa0omaHBkRycgPSxj24sO0+EyJ5yjfDBUDhXBWE03i0=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'ZZv3rXacnl1prq2y/PHdLyoJjqdyCq7oIa0omaHBkRycgPSxj24sO0+EyJ5yjfDBUDhXBWE03i0=', 'x-amz-request-id': '4JBHMX1SS9JABEAD', 'date': 'Wed, 09 Nov 2022 11:54:09 GMT', 'etag': '"f79ec33f6e0a1f1be722a08a6e4a3192"', 'server': 'AmazonS3', 'content-length': '0'}, 'RetryAttempts': 0}, 'ETag': '"f79ec33f6e0a1f1be722a08a6e4a3192"'}

============done importing customers_F.csv to s3=============

In [36]:
transactions_unique = df_tra.drop_duplicates(subset=['article_id'])
articles2 = df_art.merge(transactions_unique.drop_duplicates(), left_on='article_id', right_on='article_id', how='left')

articles2 = articles2.dropna(subset = ['price'])
articles3 = articles2[['article_id', 'prod_name', 'product_type_name',
                                'product_group_name','perceived_colour_master_name',
                                'department_name','garment_group_name', 'price']]
articles3.rename(columns = {'article_id':'ITEM_ID','price':'PRICE'},inplace = True)
articles3.sample(5)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,ITEM_ID,prod_name,product_type_name,product_group_name,perceived_colour_master_name,department_name,garment_group_name,PRICE
99844,887191001,Bag Nasa bumbag v2,Bag,Accessories,Blue,Bags & Items,Accessories,0.024390
89488,838689007,PopOn Shorts,Shorts,Garment Lower body,Khaki green,Shorts,Shorts,0.013542
72912,769517001,TAMMY cap campaign,Cap/peaked,Accessories,Pink,Ladies Sport Acc,Accessories,0.016932
92979,855991002,William 5-p anklesock 5-p,Socks,Socks & Tights,Blue,Young Boy Socks,Socks and Tights,0.016017
25948,615280002,Saturn satin jegging,Trousers,Garment Lower body,Khaki green,Young Girl Trouser,Trousers,0.006085

In [37]:
csv_buffer = StringIO()
articles3.to_csv(csv_buffer,index=false)

response2 = s3_client.put_object(Body=csv_buffer.getvalue(), Bucket="is459-grp8", Key="data-output/articles_F(Original_Columns).csv")
print(response2)
print("")
print("============done importing articles_F(Original_Columns).csv to s3=============")

{'ResponseMetadata': {'RequestId': 'AQH1FSDWKJW2P09C', 'HostId': '36TlasAxxYQ/blZxzHFdz34M6m1InruYulUw4lDzOfBtJfcRDdpO95KshDq4hkbMIyo7UzPe5CI=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': '36TlasAxxYQ/blZxzHFdz34M6m1InruYulUw4lDzOfBtJfcRDdpO95KshDq4hkbMIyo7UzPe5CI=', 'x-amz-request-id': 'AQH1FSDWKJW2P09C', 'date': 'Wed, 09 Nov 2022 11:57:11 GMT', 'etag': '"ce38c49865d8ece3ee34f2fde7662063"', 'server': 'AmazonS3', 'content-length': '0'}, 'RetryAttempts': 0}, 'ETag': '"ce38c49865d8ece3ee34f2fde7662063"'}

============done importing articles_F(Original_Columns).csv to s3=============

In [38]:
articles3.sample(5)

,ITEM_ID,prod_name,product_type_name,product_group_name,perceived_colour_master_name,department_name,garment_group_name,PRICE
91254,848409001,Flirty Sparrow Earring,Earring,Accessories,Black,Jewellery,Accessories,0.016932
87231,826689002,TMALL functional down jkt,Jacket,Garment Upper body,Yellow,Local relevance,Unknown,0.337288
44764,681174002,Alison shirt dress,Dress,Garment Full body,Blue,Dresses,Dresses Ladies,0.027102
52015,700152002,Brighton set,Shorts,Garment Lower body,Turquoise,Kids Boy Shorts,Shorts,0.033881
24594,609938002,Vaja Cross Bag,Bag,Accessories,Yellow,Small Bags,Accessories,0.022017

In [39]:

articles4 = articles3.rename(columns = {'prod_name':'CATEGORY_L1','product_type_name':'CATEGORY_L2',
                            'product_group_name':'CATEGORY_L3','perceived_colour_master_name':'CATEGORY_L4',
                            'department_name':'CATEGORY_L5','garment_group_name':'CATEGORY_L6'},inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [40]:
articles4=articles3
articles4.head()

,ITEM_ID,CATEGORY_L1,CATEGORY_L2,CATEGORY_L3,CATEGORY_L4,CATEGORY_L5,CATEGORY_L6,PRICE
0,108775015,Strap top,Vest top,Garment Upper body,Black,Jersey Basic,Jersey Basic,0.008458
1,108775044,Strap top,Vest top,Garment Upper body,White,Jersey Basic,Jersey Basic,0.008458
2,108775051,Strap top (1),Vest top,Garment Upper body,White,Jersey Basic,Jersey Basic,0.005068
3,110065001,OP T-shirt (Idro),Bra,Underwear,Black,Clean Lingerie,"Under-, Nightwear",0.022864
4,110065002,OP T-shirt (Idro),Bra,Underwear,White,Clean Lingerie,"Under-, Nightwear",0.025407

In [41]:
csv_buffer = StringIO()
articles4.to_csv(csv_buffer,index=false)

response3 = s3_client.put_object(Body=csv_buffer.getvalue(), Bucket="is459-grp8", Key="data-output/articles_F.csv")
print(response3)
print("")
print("============done importing articles_F.csv to s3=============")

{'ResponseMetadata': {'RequestId': 'GEY66TSSSQBF5B8H', 'HostId': 'mjHBzyHeoHbdokqCzkQ0KCXAsUS/Ow26SMKAD2xdFDT+gsT6+zzXN5ryziXVHZa3PuuZ8zTrH4w=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'mjHBzyHeoHbdokqCzkQ0KCXAsUS/Ow26SMKAD2xdFDT+gsT6+zzXN5ryziXVHZa3PuuZ8zTrH4w=', 'x-amz-request-id': 'GEY66TSSSQBF5B8H', 'date': 'Wed, 09 Nov 2022 11:58:00 GMT', 'etag': '"cc5bb97e5b67f059297e46a3f42ba055"', 'server': 'AmazonS3', 'content-length': '0'}, 'RetryAttempts': 0}, 'ETag': '"cc5bb97e5b67f059297e46a3f42ba055"'}

============done importing articles_F.csv to s3=============

In [42]:
df_cus.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [43]:
bucket = "is459-grp8"
cus_f_csv = "data-output/customers_F.csv"
response_cus_f = s3_client.get_object(Bucket=bucket, Key=cus_f_csv )

status = response_cus_f.get("ResponseMetadata", {}).get("HTTPStatusCode")

# Article
if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df_cus_f = pd.read_csv(response_cus_f.get("Body"))
    print(df_cus_f)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Successful S3 get_object response. Status - 200
        Unnamed: 0                                            USER_ID    FN  \
0                1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...  NONE
1                2  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...  NONE
2                6  0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...  NONE
3                8  00007e8d4e54114b5b2a9b51586325a8d0fa74ea23ef77...  NONE
4                9  00008469a21b50b3d147c97135e25b4201a8c58997f787...  NONE
...            ...                                                ...   ...
412153     1371974  ffffaff3905b803d1c7e153a1378a5151e1f34f236ba54...   1.0
412154     1371975  ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...  NONE
412155     1371976  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...  NONE
412156     1371977  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...   1.0
412157     1371978  ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...   1.0

       Active club_member_status fashion_news_frequency  age
0        NONE             ACTIVE                   NONE   25
1        NONE             ACTIVE                   NONE   24
2        NONE             ACTIVE                   NONE   20
3        NONE             ACTIVE                   NONE   20
4        NONE             ACTIVE                   NONE   20
...       ...                ...                    ...  ...
412153    1.0             ACTIVE              Regularly   21
412154   NONE             ACTIVE                   NONE   24
412155   NONE             ACTIVE                   NONE   21
412156    1.0             ACTIVE              Regularly   21
412157    1.0             ACTIVE              Regularly   18

[412158 rows x 7 columns]

In [44]:
unique_user_id = df_cus_f['USER_ID'].unique()
unique_user_id = pd.DataFrame(unique_user_id)

In [45]:
#import numpy as np

In [46]:
#trans.sample(5)

,TIMESTAMP,USER_ID,ITEM_ID,EVENT_TYPE
22572451,1582243200000,30680711e34997cb353650787390734d941bcf87e59861...,849361003,Purchase
17436450,1569974400000,cad8b494be3adb4e520b6180b005b24f83d6f99a20e0e8...,781597001,Purchase
24842281,1587340800000,303df18057cdb46a246ac0365f9252cd5729a639cc1001...,748355002,Purchase
18581649,1572739200000,4359c44b5eb31f676b3fb8fde0a4c2117c272589e6ef6d...,589748001,Purchase
21603578,1579824000000,8fc8c749f9bef052d555e380a81d20ab484f0863057e2f...,787696001,View

In [47]:
trans = df_tra[df_tra['customer_id'].isin(unique_user_id[0])]
trans = trans.drop(columns = ['sales_channel_id','price'])
trans.rename(columns = {'t_dat':'TIMESTAMP','customer_id':'USER_ID','article_id':'ITEM_ID'},inplace = True)
trans['TIMESTAMP'] = (pd.DatetimeIndex(trans['TIMESTAMP']).astype(np.int64) // 10**9) * 1000

In [48]:
#trans.sample(5)

,TIMESTAMP,USER_ID,ITEM_ID
7698262,1553212800000,de12c4e1aab7f48ac6098117a57f7dd1b5e673bdef3db0...,717570001
14201451,1563667200000,5a43a5ef3192ba2303e2ce5c3e659c76d4a799e9546614...,747216002
4214455,1545868800000,095f4cde2c846b1279654b2481459a902b5d43b6dea22e...,730020001
27701727,1592697600000,772be7bcd759e1365e92881a584502e69032fc9ae95a04...,687034023
16973235,1569369600000,4f96902cffc5c969b892dc77b6656b39da703273b299b8...,761406001

In [49]:
for i, row in trans.iterrows():
    ifor_val = random.uniform(0, 1)
    if ifor_val > 0.2:
        ifor_val = "Purchase"
        trans.at[i,'EVENT_TYPE'] = ifor_val
    else:
        ifor_val = "View"
        
        trans.at[i,'EVENT_TYPE'] = ifor_val

In [50]:
#trans.sample(5)

,TIMESTAMP,USER_ID,ITEM_ID,EVENT_TYPE
29322,1537401600000,995b318aec6e97a7f89827b1accdc3df0ab1253746feba...,615021023,Purchase
27876151,1592870400000,e848b58045d2c109aaeec46dbdc194e46f2d8a19f050b1...,822171001,View
26080219,1590019200000,fc96d8df5145e27a8ea216473168c28f1d3e21d99e7299...,834258001,Purchase
23162680,1583539200000,a11366ada4bc0a1eae8289eb0e3402157887e0a02b5fe4...,799687001,Purchase
1007064,1539216000000,65db8450f826c840ebff627492a0423ff11615b041ff88...,681150003,Purchase

In [ ]:

csv_buffer = StringIO()
trans.to_csv(csv_buffer, index=false)

response4 = s3_client.put_object(Body=csv_buffer.getvalue(), Bucket="is459-grp8", Key="data-output/transactions_less_than_26_F2.csv")
print(response4)
print("")
print("============done importing transactions_less_than_26_F2.csv to s3=============")